@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap");

* {
  font-family: "Mulish", sans-serif;
}
/* navbar*/
.logo {
  width: 48px;
  height: 56.008px;
}
.name {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
#t {
  color: #ff5400;
}
.options {
  font-size: 18px;
  font-weight: 400;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #424247;
}
.home {
  color: #ff5400;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
.name {
  display: flex;
  align-items: center;
}
nav img {
  margin-right: 16px;
}
/*banner*/
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  width: 1170px;
  min-height: 500px ;
  margin: auto;
  border-radius: 16px;
}
.banner-name {
  text-align: center;
  padding-top: 106px;
  padding-bottom: none;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-description {
  width: 676px;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 24px;
  padding-bottom: 48px;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 24px;
  width: 800px;
  height: 84px;
  background: rgba(255, 255, 255, 0.3);
  margin: auto;
}

#when,
#select-type,
.where {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding-left: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-orange {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
